// Colors
$darkblue: #223047;
$cyan: #00fff1;
$white: #fff;
$black: #000;
$lightgrey: #f5f6fa;
$mediumgrey: #97a4be;
$darkgray: #2c3233;

// Font Sizes
$small: 0.75rem; //12px
$normal: 1rem; //16px
$large: 1.5rem; //24px
$extralarge: 2rem; //32px
