@media (max-width: 736px) {
  .navigation {
    .navlinks {
      position: fixed;
      top: 6rem;
      left: 0;
      right: 0;
      margin: 0;
      text-align: center;
      z-index: 10;

      &::before {
        content: "";
        width: 100%;
        height: 100vh;
        background: linear-gradient(180deg, $black, rgba($darkblue, 0.5));
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        transform: translateY(-6rem);
        z-index: 2;
      }

      li {
        position: relative;
        display: block;
        font-size: 2rem;
        padding: 1rem 2rem;
        // background: rgba($darkgray, 0.8);
        z-index: 3;
      }

      li:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    a.btn.btn-teal {
      display: none;
    }

    .hamburger {
      display: block;
      width: 20px;
      height: 3px;
      background: $white;
      margin-right: 2rem;
      cursor: pointer;
      position: fixed;
      right: 0;
      z-index: 10;
      box-shadow: 2px 2px 2px $black;

      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 3px;
        background: $white;
        margin-right: 2rem;
        transform: translateY(-8px);
        box-shadow: 2px 2px 2px $black;
      }

      &::after {
        content: "";
        display: block;
        width: 20px;
        height: 3px;
        background: $white;
        margin-right: 2rem;
        transform: translateY(5px);
        box-shadow: 2px 2px 2px $black;
      }
    }
  }

  .hero {
    padding: 0 2rem;
    margin-bottom: 2rem;
    height: 90vh;
    .btn.btn-teal {
      margin-bottom: 1rem;
    }

    img {
      max-width: 30%;
      margin-left: 1rem;
      transform: none;
    }
  }

  .services {
    h2 {
      margin-bottom: 2rem;
    }

    .horline {
      margin-bottom: 3rem;
    }
  }

  .getmore {
    margin: 0 0 3rem;
  }

  .stable-ready {
    margin-bottom: 1.5rem;
    .flex {
      .image {
        img {
          max-width: 80vw;
        }
      }
    }

    &__bottom {
      .image {
        display: none;
      }

      .horcard--section {
        margin: 0 2rem;
      }
    }
  }

  .quote-section {
    padding: 3rem 2rem;
  }

  .downloads {
    .flex {
      flex-direction: column;
    }
    &__text {
      text-align: center;
      margin-left: 0;
    }
    img {
      margin-right: 0;
      margin-bottom: 2rem;
      max-width: 55vw;
    }

    &__cta {
      margin-top: 0;
    }
  }

  .bottom {
    margin-bottom: 2rem;
    .flex {
      flex-direction: column;
    }

    .bottom-column {
      ul {
        li {
          display: inline-block;
          margin-bottom: 2rem;
        }

        li:not(:last-child) {
          margin-right: 1.5rem;
        }
      }
    }

    .get-in-touch {
      padding-top: 2rem;

      h2 {
        margin-bottom: 1rem;
      }

      p {
        margin-bottom: 2.5rem;
      }

      form {
        .flex {
          display: block;
        }

        .email-field {
          margin-bottom: 2rem;
        }

        button {
          margin-left: 0;
        }
      }
    }
  }

  .footer {
    .container {
      .flex {
        flex-direction: column;

        .copy {
          margin-bottom: 1rem;
        }

        .socials {
          li:not(:first) {
            margin-left: 1rem;
          }
        }
      }
    }
  }
}
